<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BookShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>hdlogin</servlet-name>
    <servlet-class>myservelet.HDlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hdlogin</servlet-name>
    <url-pattern>/hdlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>myservelet.HDregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showBook</servlet-name>
    <servlet-class>myservelet.ShowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showBook</servlet-name>
    <url-pattern>/showBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>show</servlet-name>
    <servlet-class>myservelet.Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addcart</servlet-name>
    <servlet-class>myservelet.Addcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcart</servlet-name>
    <url-pattern>/addcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showCart</servlet-name>
    <servlet-class>myservelet.ShowCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showCart</servlet-name>
    <url-pattern>/showCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCart</servlet-name>
    <servlet-class>myservelet.DeleteCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCart</servlet-name>
    <url-pattern>/deleteCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addOrder</servlet-name>
    <servlet-class>myservelet.AddOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOrder</servlet-name>
    <url-pattern>/addOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteAllCart</servlet-name>
    <servlet-class>myservelet.DeleteAllCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAllCart</servlet-name>
    <url-pattern>/deleteAllCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showOrderlist</servlet-name>
    <servlet-class>myservelet.ShowOrderlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showOrderlist</servlet-name>
    <url-pattern>/showOrderlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAddress</servlet-name>
    <servlet-class>myservelet.GetAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAddress</servlet-name>
    <url-pattern>/getAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeAddress</servlet-name>
    <servlet-class>myservelet.ChangeAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeAddress</servlet-name>
    <url-pattern>/changeAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changePassword</servlet-name>
    <servlet-class>myservelet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hdadmin</servlet-name>
    <servlet-class>myservelet.HDadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hdadmin</servlet-name>
    <url-pattern>/hdadmin</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>showAllorder</servlet-name>
    <servlet-class>myservelet.ShowAllorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAllorder</servlet-name>
    <url-pattern>/showAllorder</url-pattern>
  </servlet-mapping>
</web-app>